{% extends 'news_api/base.html' %}

{% block title %}Liked Articles - NewsApp{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Liked Articles</h1>
    <div class="container">
        {% for like in likes %}
            <div class="card mb-3">
                <img src="{{ like.article.urlToImage }}" class="card-img-top" alt="Image not available">
                <div class="card-body">
                    <h5 class="card-title">{{ like.article.title }}</h5>
                    <p class="card-text">{{ like.article.description }}</p>
                    <p class="card-text"><small class="text-muted">By {{ like.article.author }} | {{ like.article.publishedAt }}</small></p>
                    <a href="{{ like.article.url }}" target="_blank" class="btn btn-success">Read More</a>
                    <form action="{% url 'remove_like_article' like.article.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Remove Like</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
