<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Community chat</h1>
    <p>The community Channel is meant to support each other</p>
    <form action="">
        <fieldset>
            <legend>community Channel</legend>
            <input type="text" name="name" id="">
            <label for="name"></label>
        </fieldset>
    </form>
    <h2>Submit</h2>
</body>
</html>